@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    text-align: center;
    background-image: linear-gradient(#6600ff, #0059ff);
    display: flex;
    flex-direction: column;
}

main h1 {
    padding: 15px;
}

main {
    background: #eeeded;
    width: 70vw;
    max-width: 800px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    padding-top: 0;
    margin: 20px;
    border-radius: 10px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divResult {
    width: 400px;
    height: 400px;
    padding: 0;
    border: 1px solid #1c1c1c;
    border-radius: 10px;
}

.divAngle {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 10px;
    text-align: center;
}

.divCode {
    margin: 10px;
    width: 400px;
    border: 2px solid black;
    border-radius: 5px;
    background: #1c1c1c;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
}

code {
    height: min-content;
    font-family: monospace;
    font-size: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    padding: 2px;
    text-align: start;
}

.confg {
    display: flex;
}

.divAddColor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

#inputColor {
    height: 30px;
    padding: 2px;
    margin: 0;
    font-size: 14px;
    border: 1px solid #1c1c1c;
    border-radius: 8px;
    margin: 5px;
}

#btnAddColor {
    border-radius: 5px;
    border: none;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
    transition: 100ms;
    color: white;
    background-image: linear-gradient(45deg, #0539f5, #5095f5);
}

#btnAddColor:hover, #btnAddColor:active {
    font-size: 16px;
}

.divAddColor input {
    outline: none;
    border: none;
    text-align: center;
    border-radius: 5px;
    background: transparent;
    width: 80px;
    font-size: 16px;
    padding: 1px;
    margin: 2px;
}

ul {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    width: 430px;
    min-height: 70px;
    border-radius: 10px;
}

li {
    display: flex;
    padding: 5px;
    color: #a3a2a2;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    border: 2px solid #00000073;
    border-radius: 10px;
    margin: 5px;
}

.btnRemove {
    height: fit-content;
    width: fit-content;
    display: flex;
    padding: 0;
    margin-left: 5px;
    background: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms;
}

#btnCopy {
    margin: 5px;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    align-self: flex-end;
    cursor: pointer;
    transition: 200ms;
}

.btnRemove:active, .btnRemove:hover, #btnCopy:hover {
    background: #c2c2c2;
}

.img-copy {
    margin: 3px;
    width: 23px;
    user-select: none;
}

.img-trash {
    width: 30px;
    user-select: none;
}

.divShape, .divPosition {
    display: none;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}

.divShape {
    display: none;
    align-items: center;
    text-align: start;
}

.divShape div {
    display: flex;
    flex-direction: column;
}

@media (max-width: 550px) {
    h1 {
        font-size: 25px;
        width: max-content;
    }
    main {
        margin: 5px;
        padding: 10px;
        width: 90vw;
    }
    #inputColor {
        height: 30px;
        font-size: 13px;
    }
    .divResult {
        width: 80vw;
        height: 250px;
    }
    .divCode {
        width: auto;
    }
    code {
        font-size: 13px;
    }
    ul {
        width: 90vw;
    }
    li {
        font-size: 13px;
    }
    .confg {
        flex-direction: column;
    }
    form {
        margin: 10px auto;
    }
    .img-trash {
        width: 25px;
    }
}
