@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    text-align: center;
}

header {
    background-image: linear-gradient(90deg, #0539F5FF, #0FC7FFFF);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #c5c5c5;
}

header nav a {
    margin: 5px;
}

a {
    color: white;
    text-decoration: none;
}

header nav a:hover, section a:hover {
    text-decoration: underline;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #aaa;
}

section a {
    color: black;
    width: fit-content;
}

#home {
    background-image: radial-gradient(circle at 0% 0%, #F5F5F5FF, #e0e0e0);
}

#home h1 {
    padding: 50px 0;
    font-size: 30px;
}

#home a {
    font-size: 25px;
}

#tools {
    background-image: conic-gradient(from 360deg at 50% -10%, #6d9bff, #323fff);
    color: white;
    padding: 0;
}

#tools h1 {
    font-size: 40px;
}

#tools ul {
    list-style: none;
    padding: 0;
    width: 80vw;
}

#tools a {
    color: white;
}

#toolsLinks {
    height: 50vh;
    background: #0516B0;
    width: 100vh;
}

#gradientGenerator h1, #box-shadow h1 {
    font-size: 36px;
    margin: 30px;
    margin-bottom: 20px;
}

#gradientGenerator h3, #box-shadow h3 {
    font-size: 28px;
    margin: 35px;
}

#gradientGenerator img, #box-shadow img {
    width: 70vw;
    max-width: 800px;
    border-radius: 10px;
    border: 4px solid #ccc;
}

.examplesGradient, .examplesBoxShadow {
    display: flex;
}

#gradientGenerator span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    color: white;
    align-content: center;
    border-radius: 10px;
    border: 2px solid #bebebe;
}

.linearGradient {
    background-image: linear-gradient(0deg, #0C2FC4FF, #12A5C4FF);
}

.radialGradient {
    background-image: radial-gradient(ellipse at 50% 50%, #1FC400FF, #00C2C4FF);
}

.conicGradient {
    background-image: conic-gradient(from 135deg at 50% 50%, #FF0000FF, #FF9517FF);
}

#box-shadow span {
    height: 120px;
    width: 200px;
    margin: 20px;
    background: #e6e6e6;
    border-radius: 5px;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 700px) {
    section#gradientGenerator span, section#box-shadow span {
        width: 150px;
        height: 80px;
        margin: 5px;
    }
}

@media (max-width: 400px) {
    header {
        font-size: 10px;
    }
    .home, .tools {
        display: none;
    }
    section#home h1 {
        font-size: 25px;
    }
    .examplesGradient, .examplesBoxShadow {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }
    section#gradientGenerator span, section#box-shadow span {
        width: 150px;
        height: 80px;
    }
}
