html body {
    background-image: none;
    background-color: #fff;
}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
}

#color {
    width: 60px;
    border-radius: 5px;
    border: 1px solid;
    padding: 3px;
    margin: 10px;
}

.confg {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    font-size: 18px;
}

.confg label {
    font-size: 20px;
}

.confg input {
    margin-bottom: 10px;
}

.divInset {
    width: fit-content;
    align-self: center;
    font-size: 18px;
}

.divInset input {
    margin: 0;
}

.divInset p {
    text-align: start;
}

.result {
    width: 350px;
    height: 60px;
    background: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 40px;
}

.divCode {
    margin: 10px;
    background: #1c1c1c;
    color: white;
    width: 80vw;
    max-width: 550px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#code {
    height: 80px;
}

#btnCopy {
    align-self: flex-end;
    padding: 0;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#btnCopy img {
    width: 30px;
    padding: 4px;
}

.copyDiv {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 5px;
    margin: auto;
    background: #5e5e5e;
    box-shadow: 0px 0px 0px 2px #818181;
    color: #fff;
    font-size: 18px;
    width: 100vw;
    transition: 200ms;
}

.btnAdd {
    background: #1178ff;
    width: 90px;
    color: white;
    font-size: 18px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 6px 0px #2C5BFFFF;
    cursor: pointer;
    align-self: center;
    margin: 10px;
    transition: 200ms;
}

.btnAdd:hover {
    box-shadow: 0px 0px 13px 0px #2C5BFFFF;
    color: #313131;
}

@media (max-width: 500px) {
    * {
        padding: 0;
    }

    .result {
        width: 80vw;
    }
}