main h1 {
    margin: 20px;
}

select {
    background: none;
    border-radius: 5px;
    width: min-content;
    outline: none;
    margin: 10px 0;
    font-size: 0.9em;
}

input {
    outline: none;
}

.result {
    margin: 20px auto;
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://github.com/SergioJunior13/Imagens/raw/main/beach-418742_960_720.webp");
    border-radius: 8px;
}